.main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.cal{
  height: 50%;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  color: black;
  cursor: pointer;
  border: none;
  padding: 5px;
}
@media only screen and (max-width: 900px){
  .cal{
    width: 43vw;
  }
  .main{
    align-items: center;
    justify-content: center;
  }
}