.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.description{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 70%;
}
.req{
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    height: 100%;
    margin-top: 20px;
    width: 30%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}
.h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #55A6F1;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%;
    cursor: default;
}
.h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: purple;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%;
    cursor: default;
}
.h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: crimson;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%;
    cursor: default;
}
.tasks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    overflow-y: auto;
}
.tasks1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    overflow-y: auto;
}
.tasks2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    overflow-y: auto;
}
.list{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: black;
    width: 28vw;
    font-size: x-small;
    color: black;
    margin-left: 10px;
    border-radius: 20px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
    padding: 10px;
    width: 100%;
}
.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
    padding: 10px;
    width: 100%;
}
.date{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
}

.tasks::-webkit-scrollbar {
    width: 10px;
  }
  
  .tasks::-webkit-scrollbar-track {
    background: white;
    border-radius: 30px;
  }
   
  .tasks::-webkit-scrollbar-thumb {
    background: #55A6F1;
    border-radius: 30px;
  }
  
  .tasks::-webkit-scrollbar-thumb:hover {
    background: navy; 
  }

.tasks1::-webkit-scrollbar {
    width: 10px;
  }
  
  .tasks1::-webkit-scrollbar-track {
    background: white;
    border-radius: 30px;
  }
   
  .tasks1::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 30px;
  }
  
  .tasks1::-webkit-scrollbar-thumb:hover {
    background: pink; 
  }

.tasks2::-webkit-scrollbar {
    width: 10px;
  }
  
  .tasks2::-webkit-scrollbar-track {
    background: white;
    border-radius: 30px;
  }
   
  .tasks2::-webkit-scrollbar-thumb {
    background: crimson;
    border-radius: 30px;
  }
  
  .tasks2::-webkit-scrollbar-thumb:hover {
    background: #ff2400; 
  }
@media only screen and (max-width: 900px){
  .description{
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .main{
    overflow-y: scroll;
  }
  .req{
    width: 80%;
  }
  .list{
    width: 90%;
    height: 21vh;
  }
}