.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}
.calc{
    display: flex;
    width: 90%;
    height: 11vh;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    margin-right: 20px;
}
.formatting{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 80px;
    padding: 10px;
    margin-top: 80px;
}
.input{
    display: flex;
    background-color: white;
    border: none;
    width: 95%;
    height: 50%;
    align-items: center;
    justify-content: center;
    color: #55A6F1;
    border-radius: 15px;
    padding: 10px;
}
.input::placeholder{
    color: #55A6F1;
}
.inputA{
    display: flex;
    background-color: white;
    border: none;
    align-items: center;
    justify-content: center;
    color: #55A6F1;
    border-radius: 5px;
}
.inputA::placeholder{
    color: #55A6F1;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fix{
    width: 50%;
}
.row{
    display: flex;
    width: 100%;
    height: 70vh;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 10%;
    background: white;
    border-radius: 30px;
    border: none;
    color: #55A6F1;
    font-size: large;
    font-weight: bold;
    transition: text-shadow 0.3s ease, box-shadow 0.3s ease;
}
.button:hover{
    text-shadow: 2px 2px black;
    box-shadow: 2px 2px black;
}
.labelCal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
    color: #55A6F1;
    font-weight: bold;
    width: 50%;
    height: 10%;
}
.label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
    color: #55A6F1;
    font-weight: bold;
    width: 50%;
    height: 10%;
}
.labelA{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    font-size: large;
    color: #55A6F1;
    font-weight: bold;
}
.labelC{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.h1{
    font-size: large;
    color: #55A6F1;
    font-weight: bold;
    cursor: default;
}
.toggle{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .175s;
    border-radius: 50%;
}
.check:checked + .slider {
    background-color: crimson;
  }
  
  .check:focus + .slider {
    box-shadow: 0 0 1px crimson;
  }
  
  .check:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider {
    border-radius: 34px;
  }
  
  .slider:before {
    border-radius: 50%;
  }
.toggle input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
.fixed{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.high{
    font-size: large;
    color: #55A6F1;
}