.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-color: #d3e1d1;
}
.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    background: linear-gradient(#58d558, #8ce28c);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
}
.res{
    margin-left: 30px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: text-shadow 0.3s ease;
    cursor: pointer;
}
.res:hover{
    text-shadow: 3px 3px black;
}
@media only screen and (max-width: 900px){
    .header{
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .res{
        font-size: 24px;
    }
}